.modal__header,
.modal__footer {
    height: 100px;
}

.modal__content,
.modal__footer {
    position: absolute;
    width: 100%;
}

.modal__content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
}

.modal__footer {
    bottom: 0;
}

ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

