{% extends "layout.html" %}
{% block content %}             
	<section class="section">
                  <div class="container">
                          <form method="POST" action="">
                                <!-- CSRF protetction -->
                                {{ form.csrf_token }}
                                <div class="control">
					<h2 class="strong">Aanmelden</h2>
					<div class="field">
					        <div class="control has-icons-right"  type="hidden">
					                {{ form.email(class="input is-medium", required=True, type="email", placeholder="e-mail") }}
					        </div>
					</div>
					<div class=field>
        					<div class="control has-icons-right">
        					        {{ form.password(class="input is-medium", required=True, type="password", placeholder="wachtwoord") }}
        					</div>
					</div>
					<a>{{ form.submit(class="button is-info is-outlined") }}</a>
				</div>
                          </form>
                  </div>
	</section>
{% endblock %}
